# ====================================================================
# Protein-DNA docking benchmark configuration file
# ====================================================================

# directory in which docking will be done
run_dir = run-AA-XX

# execution mode
mode = "local"
ncores = 80
debug = true

# molecules to be docked
molecules = [
    "XX_p?_u.pdb",
    "XX_d_u.pdb"
]



# ====================================================================
# Parameters for each stage are defined below; prefer full paths
# ====================================================================

[topoaa]

[rigidbody]
tolerance = 90
ambig_fname = "XX_u_ambig.tbl"
sampling = 1000
epsilon = 78
dielec = "cdie"
w_desolv = 0

[caprieval]
reference_fname = "XX_target.pdb"

[seletop]
select = 200

[flexref]
tolerance = 90
ambig_fname = "XX_u_ambig.tbl"
epsilon = 78
dielec = "cdie"
dnarest_on = true
w_desolv = 0

[caprieval]
reference_fname = "XX_target.pdb"

[emref]
ambig_fname = "XX_u_ambig.tbl"
dnarest_on = true
w_desolv = 0

[caprieval]
reference_fname = "XX_target.pdb"

[clustfcc]

[seletopclusts]

[caprieval]
reference_fname = "XX_target.pdb"
